<div class="p-grid p-justify-between">
  <div class="p-col-12 p-md-4 p-d-flex p-align-center">
    <!-- Görev Ekleme Butonu (Solda) -->
    <button pButton type="button" label="Görev Ekle" icon="pi pi-plus" (click)="navigateToAddTask()" class="p-button-success p-mb-3"></button>
  </div>
  
  <div class="p-col-12 p-md-4 p-d-flex p-justify-end">
    <!-- Sıralama Butonları (Sağda) -->
    <button pButton type="button" label="Tarihe Göre Sırala" icon="pi pi-calendar" (click)="sortByDate()" class="p-button-info p-mb-3"></button>
    <button pButton type="button" label="Duruma Göre Sırala" icon="pi pi-check" (click)="sortByStatus()" class="p-button-info p-mb-3"></button>
  </div>
</div>

<!-- Görev Tablosu -->
<p-table [value]="filteredTasks" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'">
  <ng-template pTemplate="header">
    <tr>
      <th>Görev Adı</th>
      <th>Açıklama</th>
      <th>Oluşturulma Tarihi</th>
      <th>Bitiş Tarihi</th>
      <th>Durum</th>
      <th>Sil</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
      <td>{{ formatDate(task.creationDate) }}</td>
      <td>{{ formatDate(task.endDate) }}</td>
      <td>
        <p-checkbox [(ngModel)]="task.status" binary="true"></p-checkbox>
      </td>
      <td>
        <button pButton type="button" label="Sil" icon="pi pi-trash" class="p-button-danger" (click)="deleteTask(task)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
